<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>KITAB - D3 Visualisation</title>
  
    <% include heads.ejs %>	

  <script type="text/javascript" src="/javascripts/vendors/FileSaver.js"></script>
  <script type="text/javascript" src="/javascripts/js/import-export.js"></script>
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
   -->

  <script>

    $(document).ready(function(){

      
      $('#spinner').show();
      $('#dataTable').hide()
    });
    
    $(window).on('load', function(){
    //$(window).load(function () {
      
      var params = new URLSearchParams(window.location.search);
      
      pairname = params.get('fn');
      if (pairname != null){
      book1 = pairname.split('_')[0] + "/"
      baseUrl = "http://dev.kitab-project.org/passim01022020/"
      downloadURL = baseUrl + book1 + pairname;
      
      var initData = [];
      var initData = '<%-JSON.stringify(csvObject)%>';
      //console.log(initData)
      loadCSVObject(initData);
      }
      $('#spinner').hide();
      $('#dataTable').delay(3000).show()

    });
  </script>
</head>

<body>
  <!-- <button onclick="window.exportCSV()">Export Back to CSV</button> -->
  

  <!-- <label class="switch">
    <input type="checkbox" checked onclick="window.toggleMarking()">
    <span class="slider round"></span>
  </label> -->
  <% include header.ejs %>
    <div class="row">
    <div class="col-md-12" style="padding-left: 30px;">
    <h4 class="panel-title">Passim Alignment Reader</h4>
  </div>
  </div>  

  <div class="fluid-row" class="nav"
    style=" background-color: rgb(245, 245, 245); border:1px solid rgb(245, 245, 245); display:block; height:135px; margin-top:5px;padding: 5px;">
    <div class="col-lg-5">
      <div style="margin-top:15px;">

        <div>
          <span class="instruction">1 - Select the version of passim output</span>
          <br />
          <div style="padding-left:8px; margin-top:10px">
            <input type="radio" id="v1" name="version" value="1">
            <span for="v1">V1 - October 2017 - <a href='http://dev.kitab-project.org/passim1017/' target="_blank">SRT/CSV Here</a> </span>
            <br />
            <input type="radio" id="v2" name="version" value="2">
            <span for="v2"> V2 - Feburary 2019 - <a href='http://dev.kitab-project.org/passim01022020/' target="_blank">SRT/CSV Here</a> </span>
            <br />
            <!-- <input type="radio" id="v3" name="version" value="3">
            <span for="v3">V3 - Aggregated 2019 - <a href='http://dev.kitab-project.org/aggregated01052019/' target="_blank">SRT/CSV Here</a></span> -->
          </div>

          <div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-5">


      <p class="instruction">2 - Click 'Import CSV/SRT' and selected the SRT file to color code the aligned passages.
        Toggle Marking will remove the color coding</p>

      <div class="instruction">
        <button class="btn btn-primary" onclick="fileInput.click()">Import CSV/SRT</button>
        <button class="btn btn-primary" onclick="window.toggleMarking()">Color Coding On/Off</button>
        <input id="fileInput" type="file" accept="text/csv" onchange="window.loadCSV(this)" style="display: none"
          type="hidden" />
      </div>


    </div>

  </div>

  <div class="fluid-row">
    <div class="col-lg-6" style="margin-top: 15px">
      <div class="col-sm-12">
        <p class="legend-width">Legend:</p>
        <p class="legend-width difference-deletion">Deletion</p> 
        <p class="legend-width difference-addition">Insertion</p> 
        <p class=" legend-width matched" style="color: #fff;">Matched Words</p>
    </div>

    </div>

    <div class="col-lg-12">

      <div id="spinner" style="text-align: center;">
        <img src="/images/spinner1.gif" width="500px" />
      </div>

      <table id="dataTable" class="data-table" style="display: none">
        <!-- <thead>
          <tr>
              <th>Boo1 Id</th>
              <th>Book2 Id</th>
              <th>Content 2</th>
              <th>Content 2</th>
              <th>Word Matched</th>
            
      </thead> -->

        <!-- <div class="col-lg-6">
          <div class='srt-details instruction'></div>

          <p></p>

        </div>

        <div class="col-lg-6"></div>
    </div> -->


    <tbody id="test">

      <!-- <tr id="rowTemplate" hidden>

        <td>{{book1Name}}</td>
      
      </tr>
      <tr>
        <td>{{book2Name}}</td>
      </tr>
      <tr>
        <td>
          <div id="book2Alignment">{{book1Content}}</div>
        </td>

      </tr>
      <tr>
        <td>
          <div id="book1Alignment">{{book2Content}}</div>
        </td>
      </tr> -->

      <tr id="rowTemplate" hidden>

        <!-- ##2 START -->
        <!-- <td class="questioner">
          <select>
            <option value="0">Empty</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
            <option value="3">Kind of</option>
            <option value="4">Certainly Not</option>
          </select>
        </td> -->
        <!-- ##2 END -->
        
        <td>{{book1Name}}</td>
        <td>{{book2Name}}</td>
        <td>
          <div id="book2Alignment">{{book1Content}}</div>
        </td>
        <td>
          <div id="book1Alignment">{{book2Content}}</div>
        </td>
        <td style="
        vertical-align: top;">
          <div id="wordMatched">{{wordmatched}}</div>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <!-- <div id="bulkLoader" class="book-content" style="display: none; margin-top: 60px">
    <div id="fountainG" style="top: 40%">
      <div id="fountainG_1" class="fountainG"></div>
      <div id="fountainG_2" class="fountainG"></div>
      <div id="fountainG_3" class="fountainG"></div>
      <div id="fountainG_4" class="fountainG"></div>
      <div id="fountainG_5" class="fountainG"></div>
      <div id="fountainG_6" class="fountainG"></div>
      <div id="fountainG_7" class="fountainG"></div>
      <div id="fountainG_8" class="fountainG"></div>
    </div>
  </div> -->



  <script>



    var Isaggregated;

    if (localStorage.getItem('version') == '') {
      localStorage.setItem('version', 3);
    }

    if (localStorage.getItem('version') == 2)
      $("#v2").prop("checked", true);
    if (localStorage.getItem('v1') == 1)
      $("#v1").prop("checked", true);
    else
      $("#v3").prop("checked", true);


    $("input[name='version']").change(function () {
      Isaggregated = $("input[name='version']:checked").val();
      localStorage.setItem('version', $("input[name='version']:checked").val());
      // localStorage.setItem('Isaggregated', $("input[name='version']:checked").val());
    });


  </script>
</body>

</html>