<head>
<meta charset="utf-8">
	<title>KITAB - D3 Visualisation</title>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/03581ef0eb.js" crossorigin="anonymous"></script>

	<title>KITAB - D3 Visualisation</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/loader.css">
	<script type="text/javascript" src="../javascripts/vendors/d3.v4.js"></script>
	<script src="../javascripts/js/script.js"></script>
	<script src="../javascripts/js/config.js"></script>
	<script src="../javascripts/js/utils.js"></script>
	<script src="../javascripts/js/process-coloring.js"></script>
	<script src="../javascripts/js/data-loader.js"></script>
	<script src="../javascripts/js/graph_helper.js"></script>
    <script type="text/javascript" src="../javascripts/vendors/marked.js"></script>

</head>