	<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			
			<a class="navbar-brand" href="http://www.kitab-project.org" target="_blank" style="margin-top: -28px">
				<img src="/images/kitab-logo.png" width="80px"/></a>
		  </div>
		  <ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/visualise">Visualisation</a></li>
            <li><a href='/bulkrenderSrt'>Passim Alignment Reader</a></li>
            <li><a href='https://kitab-corpus-metadata.azurewebsites.net/' target="_blank">OpenITI Corpus Metadata</a></li>
			
		  </ul>
		</div>
	  </nav>