body{
  font-family: 'Amiri', serif;

}
.data-table {
  border: 0.5px solid rgb(245, 245, 245);
  width: 100%;
  font-size: 16px;
  
  margin: 4px 0;
  border-spacing: 0;
}

.data-table tr td:nth-child(1), tr td:nth-child(2){
  vertical-align: top;
  font-size: 10px;

}

.data-table td {
  border: 0.5px solid rgb(245, 245, 245);
  padding: 8px;
}

.difference-deletion {
  
  color: #db4437;
}

.difference-addition {
 
  color: #5cb85c;
}
