body {
  font-size: 11px ;
  font-family: 'Amiri', Arial, Helvetica, sans-serif;
  
}
.container{

  padding: 0px 0px;
}
* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  height: 30px;

}
.col-lg-12{
padding-left: 0!important;
}
#book-content-container{
  padding: 2px;
  width: 98%;
}

.instruction{
  padding: 10px;
  font-size: 14px;

}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px; 
  line-height: 15px;
  border-radius: 0px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 15px;
  font-weight: bold;
 
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}



.book-title, .book-author, .book-url, .book-uri, .word-count{

  margin: 0;
    padding: 0;
}
.chart-box {
  border: 1px solid #d0d0d0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  madrgin-bottom: 10px ;
}

.upload-book
{

  width: 100%;
  background-color: #f8f8fa;
  height: 30px;
  padding: 15px;
  margin-bottom: 20px;
  float: left;
}

.tick line {
  stroke: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}

.domain {
  stroke-width: 3;
  stroke: #FFCC66;
}

.connection {
  fill: none;
}

.bar {
  stroke: red;
}

.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}

.brush .overlay {
  cursor: auto !important;
}

.max-reference-lines {
  stroke-width: 5;
  stroke: black;
}

.dotted-bar-lines {
  stroke-dasharray: 3 6;
  stroke: red;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  line-height: 18px;
  margin-left: 6px;
}
.books-details{
  float:left;
  border: 0px red solid;
  margin-right: 30px;
  
  
  
}

.books-details-container{

  
  display: block;
  margin-bottom: 20px;
  
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: #e0e0e0 1px dashed;
}


/*--Books View Bottom Panel -- [START]--*/

.panel {
  bdackground-image: url(../Images/icons/education31.png);
  background-position: 10px 6px;
  background-repeat: no-repeat;
  pdadding-left: 40px;


}

.book-reader{
  height: 650px;
  /* background-color:#fcfcfc; */
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid #dbdbdb;
  boffx-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5px;
  float: left;
  padding: 10px;
}
.quran-verse{
  color: red;
  font-weight: bold;
}

.reader-menu{

background-color:#fcfcfc;
min-height: 40px;

float: left;
    width: 100%;
    margin-top: 10px;
}
.label{

  padding: 0px;
  display: block;
  font-size: 11px;
  color:black;
  text-align: left;
  font-weight: normal;
  word-wrap: break-word;
  
}

#book-details-container{
  padding: 15px;
}
.selection-chunk{

  direction: rtl;
  text-align: justify;
}

.book-content {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  width: calc(50% - 2px);
  height: calc(100% - 40px);
  /*color: #afafaf;*/
  display: inline-block;
  overflow-y: auto;
  vertical-align: top;
  border-bottom: 0px #e0e0e0 solid;
  background-color: #fff;
 

}

.book-text{
  direction: rtl;
  text-align: justify;

}

.padding10{
  padding: 10px;
}

.arabic-text-16px{
  font-size: 16px;
  text-align: right;
}

.col-xs-6 {
  width: 49%!important;
}


.arabic-text-20px{
  font-size: 20px;
  text-align: right;
}

.arabic-text-18px{
  font-size: 18px;
  text-align: right;
}

.book-reader .closebtn {
  color: #818181;
  paddiksng: 2px 5px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  text-align: right;
  margin-bottom: -48px;
}

.book-reader a.closebtn:hover {
  color: #e0e0e0;
}

/*#main {
  transition: margin-left 0.5s;
  padding: 10px;
}*/

@media screen and (max-height: 450px) {
  .book-reader .book-content {
    font-size: 12px;
  }
}

/*--Books View Bottom Panel -- [END]--*/

h1 {
  font-size: 20px !important;
}

h2,
h3,
h4,
h5,
h6 {
  /*header-level: 1 to 5*/
  font-size: 28px !important;
}

h2 {
  color: red;
}

h3 {
  color: orange;
}

h4 {
  color: yellow;
}

h5 {
  color: green;
}

h6 {
  color: blue;
}

selection,
.selected-para-label {
  background-color: yellow;
}

.booktitle{
direction: ltr;
text-align: right

}

.difference-deletion {
  color: #db4437;
  
}

.difference-addition {
  color: #5cb85c;
}
.bulk-read{

  text-align: right;
}

.loader-btn-wrapper {
  
 
  width: calc(40% - 2px);
  display: inline-block;
 position: relative;
}
.fa.pull-right{
  margin-top: 0.5em;
}
.row-header{

  border-bottom: 1px solid #d8d8dd;
  padding: 10px;
  background-color: #f0f0f5;
}

#file-upload{
  margin: 20px 0 10px 0;
  font-size: 16px;
}

.panel-default>.panel-heading{
  background-color: #f0f0f5;
}
.heading{
  font-size: 16px;
  font-weight: 600;   
}

 .page-number
{
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  display: block;

}
.milestone-id{
  
  text-align: center;
  display: block;
  font-size: 75%;
  color: #e0e0e0
}
.milestone-id:hover{
  color: #db4437;
}
.milestone-id.selected{
  color: black;
  background-color: yellow;
}



.panel-icon{

  font-size: 16px;
}

.test
{
  font-size: 20px;
  color:red
}

.list-group-item{
  border:0px solid #ddd!important;
}
.loader-btn {
  width: 20%;
  border-radius: 2px;
  margin: 0 auto;
  padding: 10px 0;
  display: block;
  background: #219150;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.nav-btn {
  width: 120px;
  border-radius: 2px;
  padding: 10px;
  display: block;
  background: #219150;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.loader-btn:hover {
  background: green;
}

.data-table {
  border: 0.5px solid rgb(245, 245, 245);
  width: 98%;
  line-height: 1.5;
  font-size: 18px;
  margin: 4px 0;
  border-spacing: 0;
  text-align: right;
}

.data-table tr td:nth-child(1), tr td:nth-child(2){
  vertical-align: top;
  font-size: 10px;

}

.data-table td {
  border: 0.5px solid #f1f1f1;
  padding: 8px;
}

.difference-deletion {
  
  color: #db4437;
  color: #FB2B11;
}

.difference-addition {
 
  color: #5cb85c;
  color: #39FF14
}

table#dataTable {
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#dataTable thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#dataTable thead th {
  font-family: 'Amiri', Arial, Helvetica, sans-serif  ;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 20px;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #afafaf));
  background-image: -moz-linear-gradient(#646f7f, #afafaf);
  background-image: -webkit-linear-gradient(#646f7f, #afafaf);
  background-image: linear-gradient(#646f7f, #afafaf);
  border-top: 1px solid #858d99;
}

#dataTable thead th:first-child {
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

#dataTable thead th:last-child {
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

#dataTable tbody tr td {
  font-family: 'Amiri', Arial, Helvetica, sans-serif  ;
  font-weight: 400;
  
  font-size: 16px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

/* #dataTable tbody td:nth-child(2n) {
  background: #f0f3f5;
} */


#dataTable tbody td:nth-child(2){
 
  font-size: 11px;
}
#dataTable tbody td:nth-child(1){

  font-size: 11px;
}
#dataTable tbody tr:last-child td {
  border-bottom: none;
}

#dataTable tbody tr:last-child td:first-child {
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#dataTable tbody tr:last-child td:last-child {
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#dataTable tbody:hover > tr td {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#dataTable tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transition: 0.2s all;
}